
<h1> Albums </h1>
<ul class="article-list-large">
  <% @albums.each do |album| %>
    <li>
    <a href="<%=album_path(album.id)%>" target="_blank">
      <%= image_tag(album.cover, :alt => "Green Beach") %>
    </a>

    <h2>
      <a href="/album/1"><%=album.title%></a>
    </h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu lacus mattis, laoreet diam a, volutpat magna. Donec eleifend laoreet elementum. Nulla dictum lacinia ut sodales libero. Etiam vestibulum ex in leo euismod.</p>

    <span>by
      <a href="#">Author Name</a>
      &middot; 22nd Aug 2015</span>

    <div><%=album.total_view%></div>
  </li>

    <%end%>
</ul>