<ul class="article-list-large">
  <li>
    <a href="/album/1">
      <%= image_tag("sahale-wa.jpg", :alt => "Green Beach") %>
    </a>

    <h2>
      <a href="/album/1">Interesting article title</a>
    </h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu lacus mattis, laoreet diam a, volutpat magna. Donec eleifend laoreet elementum. Nulla dictum lacinia ut sodales libero. Etiam vestibulum ex in leo euismod.</p>

    <span>by
      <a href="#">Author Name</a>
      &middot; 22nd Aug 2015</span>

    <div>17</div>
  </li>

  <li>
    <a href="/album/2">
      <!-- <img src="/images/sands-of-life.jpg" alt="Colosseum"/> -->
      <%= image_tag("sands-of-life.jpg", :alt => "Colosseum") %>
    </a>

    <h2>
      <a href="/album/2">Interesting article title</a>
    </h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu lacus mattis, laoreet diam a, volutpat magna. Donec eleifend laoreet elementum. Nulla dictum lacinia ut sodales libero. Etiam vestibulum ex in leo euismod.</p>

    <span>by
      <a href="#">Author Name</a>
      &middot; 15th Nov 2014</span>

    <div>32</div>
  </li>

</ul>
