<div class="container">
  <div class="jumbotron jumbotron-sm" style="background-color:#339966;margin-top:2%;color:white;">
    <div class="row">
      <div class="avartar col-md-6 col-lg-6">
        <h1 class="h2" style="margin-top:-2%">
          Legolas Team
        </h1>
      </div>
      <div class="col-md-6 col-lg-6">
        <img class="my-img" src="https://scontent.fsgn5-1.fna.fbcdn.net/v/t1.0-1/19247697_1900752776806325_1142559762807498308_n.jpg?oh=a28557d7568087413f9368dfdb5eda3d&oe=5A403E65" alt="Trần Hiệp">
        <img class="my-img" src="https://lh6.googleusercontent.com/BW4R6VSe66Fn-_qKTKqmUvU0fWaXkF6oq-24LnUBx04hWtFJP2i7aH8gbeU-lf9BwSORKMQtt7Bm2i8=w1920-h949-rw" alt="Đinh Trương Bảo Tuấn">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="well">
        <h3 style="line-height:20%;">
          <i class="fa fa-home fa-1x" style="line-height:6%;color:#339966"></i>
          Address</h3>
        <p style="margin-top:6%;line-height:35%">227 Nguyen Van Cu, Ho Chi Minh, Viet Nam</p>
        <br/>
        <br/>
        <h3 style="line-height:20%;">
          <i class="fa fa-envelope fa-1x" style="line-height:6%;color:#339966"></i>
          E-Mail</h3>
        <p style="margin-top:6%;line-height:35%">tranhiepqna@gmail.com</p>
        <p style="margin-top:6%;line-height:35%">baotuan0.0@gmail.com</p>
        <br/>
        <br/>
        <h3 style="line-height:20%;">
          <i class="fa fa-user fa-1x" style="line-height:6%;color:#339966"></i>
          Info</h3>
        <p style="margin-top:6%;line-height:35%">Trần Hiệp - 141275</p>
        <p style="margin-top:6%;line-height:35%">Đinh Trương Bảo Tuấn - 1412601</p>
        <br/>
        <br/>
        <h3 style="line-height:20%;">
          <i class="fa fa-yelp fa-1x" style="line-height:6%;color:#339966"></i>
          Refs</h3>
        <p style="margin-top:6%;line-height:35%">
          <a href="siteadresi.com/destek">siteadresi.com/destek</a>
        </p>
      </div>
    </div>
    <div class="col-sm-6">
      <iframe
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBi8zUQcPuWnQOakElEx0lD6zj4g6Eo05U&q=Đại+học+Khoa+học+Tự+nhiên"
        width="565"
        height="430"
        frameborder="0"
        style="border:0"
        allowfullscreen></iframe>
    </div>
  </div>
</div>
